<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <script src="{{url_for('static',filename='js/htmx.min.js')}}"></script>
    <title>Document</title>
  </head>
  <body>
    <!-- * INsert content here -->
    <button class="p-5 bg-black text-white" hx-get="/htmx-test" hx-target="#container" > Htmx test </button>
    <div id="container">
        result will print here
    </div>
  </body>
</html>
