<article x-data="{open:false}">
    <div x-show="!open"
        class="flex cursor-pointer items-center justify-between gap-1 5 rounded-lg bg-neutral-800 p-4 text-neutral-300">
        <div class="flex items-center gap-2">
            <input type="checkbox" class="size-4 text-neutral-400  accent-neutral-500 bg-neutral-300 rounded">
            <span class="text-lg">{{data['content']}}</span>
        </div>
        <button class="text-2xl p-2 px-4 space-y-1 hover:bg-neutral-700 rounded duration-200" @click="open = true" hx-get="/linked-content/{{data['id']}}" hx-target="#cardDetail{{data['id']}}">
            <div class="size-1 rounded bg-neutral-400 p-[1px]"></div>
            <div class="size-1 rounded bg-neutral-400 p-[1px]"></div>
            <div class="size-1 rounded bg-neutral-400 p-[1px]"></div>
        </button>

    </div>
    <div id="cardDetail{{data['id']}}" x-show="open" @click.outside="open = false"
        class="flex flex-col cursor-pointer  gap-4 rounded-lg bg-neutral-800 p-4 text-neutral-300">
        Loading...
    </div>
</article>
