<h2 class="font-medium flex items-center gap-2">
    <input type="text" name="content"
        class="w-full bg-neutral-700 rounded text-lg font-medium p-2 text-neutral-300 focus:outline-none"
        id="singleTask{{data.self.id}}" value="{{data.self['content']}}" hx-post="/form_graph/{{data.self['id']}}"
        hx-trigger="keyup changed delay:1000ms">
</h2>
<strong class="text-lg">Link</strong>
<ul class="" id="links{{data.self.id}}">
    {% include '/htmx/renderLinks.html'  %}
</ul>

<div class="relative">
    <div class="flex rounded">
        <div class="flex justify-center items-center p-2 bg-neutral-700 rounded-l">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-search">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </div>
        <div class="relative w-full">
            <input type="text" name="search"
                class="w-full bg-neutral-700 rounded-r border-none focus:outline-none text-lg font-medium p-2 "
                hx-post="/search/{{data.self.id}}" hx-trigger="keyup changed delay:500ms"
                hx-target="#searchReasult{{data.self.id}}" hx-swap="innerHTML">
        </div>
    </div>
    <ul class="absolute  bg-neutral-700  w-full" id="searchReasult{{data.self.id}}"></ul>
</div>

<div class="flex justify-end gap-2">
    <button @click="open=false" class="p-2 px-4 space-y-1 hover:bg-neutral-700 rounded duration-200">
        Cancel
    </button>

    <button class="p-2 px-4 space-y-1 bg-red-800 hover:bg-red-700 rounded duration-200"
        hx-POST="/delete_node/{{data.self.id}}" hx-target="#tasks">Delete </button>
</div>
