<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
</head>

<body class="font-['outfit'] bg-neutral-900 text-neutral-400 p-5">
  <!-- Logout Button -->
  <nav class="logout-nav">
    <a href="{{ url_for('logout') }}" title="Logout">
      <i class="fa fa-sign-out-alt"></i>
    </a>
  </nav>

  <div class="flex gap-6">
    <div class="w-1/3">
      <form class="flex justify-stretch gap-2 w-full" hx-post="/form" hx-target="#tasks" hx-swap="outerHTML">
        <input type="text" id="content" name="content" required placeholder="Enter a Task"
          class="p-3 border-2 border-slate-400 rounded-md w-full" >
        <button class="bg-slate-900 px-4 py-2 text-slate-50 rounded-md" type="submit">
          Add
        </button>
      </form>
      <!-- Explain this below please -->
      <form class="flex justify-stretch gap-2 w-full" hx-post="/link/1/3" hx-target="#tasks" hx-swap="outerHTML">
        <input type="text" id="content__" name="content" placeholder="Link a Task to node 1"
          class="p-3 border-2 border-slate-400 rounded-md w-full" hx-post="/search" hx-target="#link"
          hx-trigger="keyup changed delay:500ms" hx-swap="innerHTML" />
        <button class=" bg-slate-900 px-4 py-2 text-slate-50 rounded-md" type="submit" id="link">
          Link
        </button>
      </form>
      
      <!-- Explain this above please -->

      <ul class="space-y-5 py-5" hx-get="/htmxGetAllTasks" hx-trigger="load" hx-swap="outerHTML">
        Loading Tasks ....
      </ul>
    </div>
    <div class="graph-container" id="graph-container">
      <svg class="border w-full h-full" id="graphCanvas"></svg>
    </div>
  </div>

  <script>
    document.addEventListener('htmx:afterSwap', function (event) {
      // Check if the swap was done on the #tasks element
      if (event.detail.target.matches('#tasks')) {
        // Additional code to run after htmx request is done rendering for #tasks
        const tasks = document.getElementById('tasks');
        const nodesString = tasks.getAttribute('data-nodes');
        const linksString = tasks.getAttribute('data-links');

        console.log("line 60:", linksString)
        // Replace single quotes with double quotes to make it valid JSON
        const validNodesString = nodesString.replace(/'/g, '"');
        const validLinksString = linksString.replace(/'/g, '"');
        console.log("line 62:", validLinksString)
        // Parse the JSON strings into arrays
        const nodesArray = JSON.parse(validNodesString);
        const linksArray = JSON.parse(validLinksString);
        // delete everyting insdie the svg
        const graphCanvas = document.getElementById('graphCanvas')
        graphCanvas.innerHTML = '';
        generateGraph(nodesArray, linksArray);

      }
    });



    var simulation;

    // Get the dimensions of the container
    var graphContainer = document.querySelector("#graph-container");
    var width = graphContainer.clientWidth;
    var height = graphContainer.clientHeight;

    // Apply these dimensions to your SVG
    var svg = d3
      .select("#graph-container svg")
      .attr("width", width)
      .attr("height", height);

    function generateGraph(inputNodes, inputLinks) {
      // Convert the input data into d3's expected format
      var nodes = inputNodes.map((d) => Object.assign({}, d));
      var links = inputLinks.map((d) => Object.assign({}, d));
      // Create the simulation with nodes and links
      simulation = d3
        .forceSimulation(nodes)
        .force(
          "link",
          d3.forceLink(links).id((d) => d.id)
        )
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

      // Create the link lines
      var link = svg
        .append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(links)
        .enter()
        .append("line")
        .attr("class", "link");

      // Create the node circles
      var node = svg
        .append("g")
        .attr("class", "nodes")
        .selectAll("circle")
        .data(nodes)
        .enter()
        .append("circle")
        .attr("class", "node")
        .attr("r", 4)
        .call(
          d3
            .drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended)
        );

      // Define the radius for the nodes
      var radius = 4;

      // Update the simulation on each tick
      simulation.on("tick", () => {
        link
          .attr("x1", (d) => Math.max(radius, Math.min(width - radius, d.source.x)))
          .attr("y1", (d) => Math.max(radius, Math.min(height - radius, d.source.y)))
          .attr("x2", (d) => Math.max(radius, Math.min(width - radius, d.target.x)))
          .attr("y2", (d) => Math.max(radius, Math.min(height - radius, d.target.y)));

        // Keep the nodes inside the graph container
        node
          .attr("cx", (d) => d.x = Math.max(radius, Math.min(width - radius, d.x)))
          .attr("cy", (d) => d.y = Math.max(radius, Math.min(height - radius, d.y)));
      });
    }

    function dragstarted(event, d) {
      if (!event.active) simulation.alphaTarget(0.3).restart();
      d.fx = d.x;
      d.fy = d.y;
    }

    function dragged(event, d) {
      d.fx = event.x;
      d.fy = event.y;
    }

    function dragended(event, d) {
      if (!event.active) simulation.alphaTarget(-1);
      d.fx = null;
      d.fy = null;
    }

    // Assume graph_data is passed in correctly from Flask as JSON embedded in the HTML
    var graph_data = {{ graph_data | tojson | safe }};
    console.log(graph_data.nodes, graph_data.links)
    generateGraph(graph_data.nodes, graph_data.links);
  </script>
</body>

</html>
