{%include '/header.html' %}
<div class="flex flex-col mt-20 h-screen max-w-screen-sm mx-auto" id="loginTarget">
    <div class="flex flex-col gap-4 border-l-2 border-l-neutral-400 p-5 ">
        <h1 class="text-4xl">Welcome to <strong> Y </strong> </h1>
        <p class="grid ">
            <strong>Why?</strong>
            <span class=""> to find out your purpose in <strong>Life</strong> </span>
            <span>with the help of <strong>AI</strong> </span>
        </p>
        <div class="flex gap-2">
            <button hx-get="/login" class="btn" hx-target="#form">Login</button>
            <button hx-get="/register" class="btn" hx-target="#form">Sign Up</button>
        </div>
    <div class="" id="form"></div>
    </div>
</div>
{%include '/footer.html' %}
