{%include '/header.html' %}
<div class="flex justify-center items-center h-screen ">
    <div class="flex flex-col gap-2 justify-center">
        <h1 class="text-center text-3xl">Welcome to <strong> Y </strong> </h1>
        <p class="text-center">Find out your life's purpose, set better goals with <b>AI</b></p>
        <div class="flex gap-2 justify-center">
            <a href="/login" class="bg-slate-900 px-4 py-2 text-slate-50 rounded-md w-fit">Login</a>
            <a href="/register" class="bg-slate-900 px-4 py-2 text-slate-50 rounded-md w-fit">Sign Up</a>
        </div>
    </div>
</div>
{%include '/footer.html' %}
