<h2 class="text-3xl mt-5">Login</h2>
<form hx-post="/login" method="post" hx-target="#loginTarget" hx-swap="outerHTML" class="flex flex-col gap-2">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"
        class="p-1 rounded bg-neutral-300 outline-none border-none focus:outline-amber-400" autocomplete="username"
        required autofocus>
    <div id="usernameError" class="text-red-400"></div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"
        class="p-1 rounded bg-neutral-300 outline-none border-none focus:outline-amber-400" autocomplete="password"
        required>
    <div id="passwordError" class="text-red-400"></div>
    <button type="submit" class="btn">Login</button>
</form>
