<h2 class="text-3xl mt-5">Sign Up</h2>
<form action="" method="post" class="flex flex-col gap-2">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"
        class="p-1 rounded bg-neutral-300 outline-none border-none focus:outline-amber-400" autocomplete="username"
        required autofocus>
    <small class="text-neutral-500">Username must be 3-20 characters long.</small>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"
        class="p-1 rounded bg-neutral-300 outline-none border-none focus:outline-amber-400" autocomplete="password"
        required>
    <small class="text-neutral-500">Password must be at least 8 characters long.</small>
    <button type="submit" class="btn">Sign Up</button>
</form>
